*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/ml/mobilenet_v1_1.0_224.tflite
/app/src/main/ml/mobilenet_v1_1.0_224_quant.tflite
/app/src/main/ml/yolov5s.tflite
/lib_task_api/build/.transforms/0a550ce25327f9030a069d33da8492c7/transformed/debug/org/tensorflow/lite/examples/detection/tflite/BuildConfig.dex
/lib_task_api/build/.transforms/846c46e8075d736332402c57675e5454/transformed/classes/classes.dex
/lib_task_api/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/lib_task_api/build/.transforms/0a550ce25327f9030a069d33da8492c7/transformed/desugar_graph.bin
/lib_task_api/build/.transforms/0a550ce25327f9030a069d33da8492c7/transformed/debug/org/tensorflow/lite/examples/detection/tflite/Detector$Recognition.dex
/lib_task_api/build/.transforms/0a550ce25327f9030a069d33da8492c7/transformed/debug/org/tensorflow/lite/examples/detection/tflite/Detector.dex
/lib_task_api/build/.transforms/0a550ce25327f9030a069d33da8492c7/results.bin
/lib_task_api/build/.transforms/846c46e8075d736332402c57675e5454/results.bin
/lib_task_api/build/.transforms/0a550ce25327f9030a069d33da8492c7/transformed/debug/org/tensorflow/lite/examples/detection/tflite/TFLiteObjectDetectionAPIModel.dex
/lib_task_api/build/.transforms/ea3a7a9f20e207604565d4b151952a5f/transformed/debug/org/tensorflow/lite/examples/detection/tflite/BuildConfig.dex
/lib_task_api/build/.transforms/ea3a7a9f20e207604565d4b151952a5f/transformed/desugar_graph.bin
/lib_task_api/build/.transforms/ea3a7a9f20e207604565d4b151952a5f/transformed/debug/org/tensorflow/lite/examples/detection/tflite/Detector$Recognition.dex
/lib_task_api/build/.transforms/ea3a7a9f20e207604565d4b151952a5f/transformed/debug/org/tensorflow/lite/examples/detection/tflite/Detector.dex
/lib_task_api/build/.transforms/ea3a7a9f20e207604565d4b151952a5f/results.bin
/lib_task_api/build/.transforms/ea3a7a9f20e207604565d4b151952a5f/transformed/debug/org/tensorflow/lite/examples/detection/tflite/TFLiteObjectDetectionAPIModel.dex
/lib_task_api/build/.transforms/6b8d13c5398ead828afb1b7dd2a86ebe/transformed/out/META-INF/com/android/build/gradle/aar-metadata.properties
/lib_task_api/build/intermediates/runtime_library_classes_jar/release/classes.jar
/lib_task_api/build/intermediates/annotation_processor_list/release/annotationProcessors.json
/lib_task_api/build/intermediates/incremental/mergeReleaseShaders/merger.xml
/lib_task_api/build/.transforms/6b8d13c5398ead828afb1b7dd2a86ebe/transformed/out/META-INF/com/android/build/gradle/lint-model-metadata.properties
/lib_task_api/build/intermediates/navigation_json/release/navigation.json
/lib_task_api/build/.transforms/6b8d13c5398ead828afb1b7dd2a86ebe/transformed/out/R.txt
/lib_task_api/build/tmp/compileReleaseJavaWithJavac/source-classes-mapping.txt
/lib_task_api/build/intermediates/merged_manifest/release/AndroidManifest.xml
/lib_task_api/build/intermediates/javac/release/classes/org/tensorflow/lite/examples/detection/tflite/BuildConfig.class
/lib_task_api/build/intermediates/aapt_friendly_merged_manifests/release/aapt/output-metadata.json
/lib_task_api/build/intermediates/annotations_typedef_file/release/typedefs.txt
/lib_task_api/build/intermediates/merged_java_res/release/feature-lib_task_api.jar
/lib_task_api/build/intermediates/local_only_symbol_list/release/R-def.txt
/lib_task_api/build/intermediates/javac/release/classes/org/tensorflow/lite/examples/detection/tflite/Detector$Recognition.class
/lib_task_api/build/.transforms/6b8d13c5398ead828afb1b7dd2a86ebe/transformed/out/AndroidManifest.xml
/lib_task_api/build/intermediates/lint_model_metadata/release/lint-model-metadata.properties
/lib_task_api/build/intermediates/packaged_manifests/release/output-metadata.json
/lib_task_api/build/.transforms/6b8d13c5398ead828afb1b7dd2a86ebe/results.bin
/lib_task_api/build/intermediates/manifest_merge_blame_file/release/manifest-merger-blame-release-report.txt
/lib_task_api/build/intermediates/compile_symbol_list/release/R.txt
/lib_task_api/build/intermediates/javac/release/classes/org/tensorflow/lite/examples/detection/tflite/TFLiteObjectDetectionAPIModel.class
/lib_task_api/build/intermediates/compile_library_classes_jar/release/classes.jar
/lib_task_api/build/intermediates/incremental/packageReleaseAssets/merger.xml
/lib_task_api/build/outputs/logs/manifest-merger-release-report.txt
/lib_task_api/build/intermediates/incremental/packageReleaseResources/merger.xml
/lib_task_api/build/intermediates/local_aar_for_lint/release/out.aar
/lib_task_api/build/intermediates/compile_r_class_jar/release/R.jar
/lib_task_api/build/intermediates/symbol_list_with_package_name/release/package-aware-r.txt
/lib_task_api/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
/lib_task_api/build/intermediates/javac/release/classes/org/tensorflow/lite/examples/detection/tflite/Detector.class
/lib_task_api/build/.transforms/a09a134f1fa9cbd45cf7ba9847202420/results.bin
/lib_task_api/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
/lib_task_api/build/intermediates/aar_metadata/release/aar-metadata.properties
/lib_task_api/build/intermediates/aar_main_jar/release/classes.jar
/lib_task_api/build/.transforms/a09a134f1fa9cbd45cf7ba9847202420/transformed/classes/classes.dex
/lib_task_api/build/.transforms/6b8d13c5398ead828afb1b7dd2a86ebe/transformed/out/jars/classes.jar
/lib_task_api/build/intermediates/full_jar/release/full.jar
/lib_task_api/build/intermediates/aapt_friendly_merged_manifests/release/aapt/AndroidManifest.xml
/lib_task_api/build/intermediates/incremental/release-mergeJavaRes/merge-state
